<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
    <div class="background">
    <header class="hd">
        <div class="hd__box1">
            <img src="https://firebasestorage.googleapis.com/v0/b/storage-4leaf.appspot.com/o/HNB%2Fassets%2Fimages%2FLogo%2Fwhite_logo.png?alt=media&token=eb969fe5-42a6-4f79-aa40-ddcb3fb53474">
        </div>
        <div class="hd__box2">
            <a class="box2__box1" href="./main.html">HOME</a>
            <a class="box2__box2" href="./page1.html">COMPANY</a>
            <a class="box2__box3" href="./page2.html">PRODUCT</a>
            <div class="box2__box6"></div>
        </div>
    </header>
    <main class="mn">
        <div class="mn__box1"></div>
        <div class="mn__box2">
             <div class="mn__box2__font">WHAT DO YOU WANT TO SHOW ?</div>
             <div class="mn__box2__font2">당신이 보여주고 싶은 공간은 무엇인가요?</div>
             <div class="mn__box2__font2">당신이 확인해보고 싶은 디자인은 무엇인가요?</div>
             <div class="mn__box2__font2">H&B그래픽에서 사실적있고 감각있게 디자인 제작해드리겠습니다.</div>
             <div class="mn__box2__box1"></div>
        </div>
    </main>
    <main class="mn2">
        <div class="mn2__box1"></div>
        <div class="mn2__box2"></div>
        <div class="mn2__box3"></div>
        <div class="mn2__box4"></div>
    </main>
    </div>
    <main class="mn3">
        <div class="mn3__box1">
            <div class="mn3__box1__font">PRODUCT</div>
        </div>
        <div class="mn3__box2">
            <div class="mn3__box2__imgbox1">
                <img src="https://firebasestorage.googleapis.com/v0/b/storage-4leaf.appspot.com/o/HNB%2Fassets%2Fimages%2FMM00%2Fiso_3.401-1.jpg?alt=media&token=812a7d60-76fe-4201-82cd-81d6a43601f8" width="320px">
            </div>
            <div class="mn3__box2__imgbox2">
                <div class="mn3__box2__imgbox2__box1">
                    <img src="https://lh3.googleusercontent.com/EQMU9CFaFWE7-7oZsZOsVgCGdTEblIf4Y-Z2yVsQL7OQftUd_qSooq9TXM4faUSBLcNo=s113"width="320px">
                </div>
            </div>
            <div class="mn3__box2__imgbox3">
                <div class="mn3__box2__box2">
                    <img src="https://firebasestorage.googleapis.com/v0/b/storage-4leaf.appspot.com/o/HNB%2Fassets%2Fimages%2FMM00%2Fplan_3%E1%84%8E%E1%85%B3%E1%86%BC%20%E1%84%80%E1%85%A9%E1%86%BC%E1%84%8B%E1%85%B2%E1%84%8B%E1%85%A9%E1%84%91%E1%85%B5%E1%84%89%E1%85%B31.jpg?alt=media&token=cc54f894-5c3a-4014-bbc4-b4a909d8e596"width="320px">                </div>
            </div>
        </div>
        </div>
        <div class="mn3__font1">
            <div class="mn3__font1__font1">ISO</div>
            <div class="mn3__font1__font2">절단면 아래 보이는 입체 평면 그림으로</div>
            <div class="mn3__font1__font3">공간위 구성 및 크기를 가늠하기</div>
            <div class="mn3__font1__font4">위한 그래픽 이미지 작업</div>
        </div>
        <div class="mn3__font2">
            <div class="mn3__font2__font1">PERSPECTIVE DRAWING</div>
            <div class="mn3__font2__font2">원근법에 따라 눈에 보이는 형상 그대로를</div>
            <div class="mn3__font2__font3">그리는 그림으로 인테리어된 공간을 실제와</div>
            <div class="mn3__font2__font4">유사하게 표현되는 그래픽 이미지 작업</div>
        </div>
        <div class="mn3__font3">
            <div class="mn3__font3__font1">SPACE PLANNING</div>
            <div class="mn3__font3__font2">원하는 공간의 용도 기능에 맞추어</div>
            <div class="mn3__font3__font3">가장 효율적이고 미적이게 설계</div>
            <div class="mn3__font3__font4">디자인하는 작업</div>
        </div>
    </main>
    <section class="sc">
        <div class="sc__box1"></div>
        <div class="sc__box2">
            <div class="sc__box2__font">3D 그래픽 디자인 전문 제작 업체 H&B(에이치앤비) 입니다.</div>
            <div class="sc__box2__font2">저희 회사는 고객님의 성공 비즈니스 파트너가 되겠습니다</div>
            </div>
        </div>
    </section>
    <section class="sc2">
        <div class="sc2__top"></div>
        <div class="sc2__mid"></div>
        <div class="sc2__bot"></div>
    </section>
</body>
</html>