<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>H&B</title>
    <link rel="stylesheet" href="../css/styles.css" />
    <link
    rel="stylesheet"
    href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
/>
</head>
<body>
<header class="header hd1">
        <div class="hd__hb hb">
          <div class="hb__i"></div>
        </div>
        <div class="hd_r r">
          <a href="./main.html" class="r__mi mi" >HOME</a>
          <a href="./page1.html" class="r__yg yg">COMPANY</a>
          <a href="./page2.html" class="r__dg dg">PRODUCT</a>
        </div>
    </header>
<main class="Wallpapers wp">
  <div class="wp__ep ep">
    <div class="ep__r1 r1">
      WHAT DO YOU WANT TO SHOW ?
      <div class="ep__box eb"></div>
    </div>
    <div class="wp__r2 r2">
      <div class="r2__r1">당신이 보여주고 싶은 공간은 무엇인가요?</div>
      <div class="r2__r2">
        당신이 확인해 보고 싶은 디자인은 무엇인가요 ?
      </div>
      <div class="r2__r3">
        H&B 그래픽 디자인에서 사실적이고 감각있게 디자인 제작해드리겠습니다.
      </div>
    </div>
  </div>
  <div class="wp__fn fn"></div>
</main>
<main class="wallpapers2 wp2">
  <div class="wp2__pd pd">
    <div class="pd__r r">PRODUCT</div>
  </div>
  <div class="wp__mb mb">
    <div class="mb__mn1 mnb1">
      <div class="mnb1__img1 img1"></div>
      <div class="mnb1__r1 r1">ISO</div>
      <div class="mnb1__wr1 wr1">
        절단면 아래 보이는 입체 평면 그림으로<br />공간의 구성 및 크기를
        가늠하기<br />
        위한 그래픽 이미지 작업
      </div>
    </div>
    <div class="mb__mn2 mnb2">
      <div class="mnb1__img2 img2">
        <div class="img2__img2">
          <img
            src="https://firebasestorage.googleapis.com/v0/b/storage-4leaf.appspot.com/o/HNB%2Fassets%2Fimages%2FMM00%2Ftusi_1477042215762.jpg?alt=media&token=da855d13-49c9-499b-8e5e-3d20169a62db"
            width="350px"
          />
        </div>
      </div>
      <div class="mnb1__r2 r2">PERSPECTIVE DRAWING</div>
      <div class="mnb1__wr2 wr2">
        원근법에 따라 눈에 보이는 형상 그대로를<br />그리는 그림으로
        인테리어된 공간을 실제와 <br />유사하게 표현되는 그래픽 이미지 작업
      </div>
    </div>
    <div class="mb__mn3 mnb3">
      <div class="mnb3__img3 img3">
        <div class="img3__img3">
          <img
            src="https://firebasestorage.googleapis.com/v0/b/storage-4leaf.appspot.com/o/HNB%2Fassets%2Fimages%2FMM00%2Fplan_3%E1%84%8E%E1%85%B3%E1%86%BC%20%E1%84%80%E1%85%A9%E1%86%BC%E1%84%8B%E1%85%B2%E1%84%8B%E1%85%A9%E1%84%91%E1%85%B5%E1%84%89%E1%85%B31.jpg?alt=media&token=cc54f894-5c3a-4014-bbc4-b4a909d8e5960"
            width="350px"
          />
        </div>
      </div>
      <div class="mnb1__r3 r3">SPACE PLANNING</div>
      <div class="mnb1__wr3 wr3">
        원하는 공간의 용도 기능에 맞추어<br />가장 효율적이고 미적이게
        설계<br />
        디자인하는 작업
      </div>
    </div>
  </div>
</main>
<mian class="wallpapers3 wp3">
  <div class="background bg">
    <div class="rgba">
      <div class="rgba__rr">
        <div class="rr__r1">3D 그래픽 디자인 전문 제작 업체 H&B(에이치앤비) 입니다.</div>
        <div class="rr__r2">저희 회사는 고객님의 성공 비즈니스 파트너가 되겠습니다.</div>
      </div>
    </div>
  </div>
</mian>
<main class="wallpapers4 wp4">
  <div class="wp4__ansdml">
    <div class="ansdml__1 1">
      <div class="1__own own"></div>
      <div class="1__two two">
        <div class="own__fb fb">
          <div class="fb__ic ic">
            <i class="fas fa-phone-volume fa-3x"></i>
          </div>
          <div class="fb__num num">
            <div class="num__jj jj">1566-5297</div>
          </div>
        </div>
      </div>
    </div>
    <div class="ansdml__2 2">
      <button class="button">문의하기 바로가기</button>
    </div>
  </div>
</main>
<main class="wp5">
  <div class="wp5__text1">3D 그래픽 디자인 전문 제작 업체 H&B(에이치앤비) 입니다.</div>
  <div class="wp5__text2">저희 회사는 고객님의 성공 비즈니스 파트너가 되겠습니다.</div>
</main>
</main>
<main class="wallpapers6 wp6">
  <div class="wp6__hnb hnb">
    <div class="hnb__dkd"></div>
  </div>
  <div class="wp6__eovy eovy">
    <div class="eovy__eovy">
      <div class="eovy__eo eo">대표 : 이지형</div>
      <div class="eovy__tk tk">사업자등록번호 : 209-81-66291</div>
      <div class="eovy__wn wn">주소 : 울산광역시 중구 동천 1길 40, 세영이노세븐 지식산업센터</div>
      <div class="eovy__behd behd">B동 234호</div>
    </div>
    <div class="eovy__wjsqjs">
      <div class="wjsqjs__wjsqjs wjsqjs">전화번호 : 1566-5297 </div>
      <div class="wjsqjs__dlap dlap">이메일 : ghgh6127@naver.com</div>
      <div class="wjsqjs__copy">Copyright @ H&B By 4LEAF SOFTWARE</div>
    </div>
  </div>
</main>
</body>
</html>