<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>H&B</title>
    <link rel="stylesheet" href="../css/styles.css"/>
  </head>
  <body>
    <header class="header hd1">
      <div class="hd__hb hb">
        <div class="hb__i"></div>
      </div>
      <div class="hd_r r">
        <a href="./main.html" class="r__mi mi" >main Page!</a>
        <a href="./page1.html" class="r__yg yg">yougyeom Page!</a>
        <a href="./page2.html" class="r__dg dg">dogi Page!</a>
      </div>
    </header>
    <div class="bg1">
      <a class="at">YOUGYEOM PAGE</a>
    </div>
    <div class="bg2">
      <div class="b2">
        <div class="text">
          <div class="text_t1 t1">2020</div>
          <div class="text_t2 t2">
            <div class="text_1">About</div>
            <div class="text_2"></div>
            <div class="text_3">Company</div>
          </div>
          <div class="text_t3 t3">3D 그래픽 디자인 전문 제작 업체 H&B(에이치앤비) 입니다.<br /><br /><br />저희 회사는 고객님의 성공 비즈니스 파트너가 되겠습니다.<br /><br />차별화된 감각과 풍부한 실무능력으로 고객님을 만족 시킬 수 있는 사업파트너로<br /><br />미래를 함께 하겠습니다.<br /><br /><br />회사로고 H & B는 High quality Building graphic 의 약자 입니다.<br /><br />고퀄리티의 건물그래픽을 제공해 그래픽 디자인에서 넘버원이 되겠다는<br /><br />포부를 담은 로고 입니다.<br /><br /><br />항상 더 나은 서비스와 결과물을 제공하기 위해 노력하겠습니다.<br /><br /><br />감사합니다.</div>
        </div>
        <div class="image">
          <div class="ig"></div>
        </div>
      </div>
    </div>
        </main>
    <main class="wallpapers6 wp6">
      <div class="wp6__hnb hnb">
        <div class="hnb__dkd"></div>
      </div>
      <div class="wp6__eovy eovy">
        <div class="eovy__eovy">
          <div class="eovy__eo eo">대표 : 이지형</div>
          <div class="eovy__tk tk">사업자등록번호 : 209-81-66291</div>
          <div class="eovy__wn wn">주소 : 울산광역시 중구 동천 1길 40, 세영이노세븐 지식산업센터</div>
          <div class="eovy__behd behd">B동 234호</div>
        </div>
        <div class="eovy__wjsqjs">
          <div class="wjsqjs__wjsqjs wjsqjs">전화번호 : 1566-5297 </div>
          <div class="wjsqjs__dlap dlap">이메일 : ghgh6127@naver.com</div>
          <div class="wjsqjs__copy">Copyright @ H&B By 4LEAF SOFTWARE</div>
        </div>
      </div>
    </main>
  </body>
</html>
