<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="vieort" content="width=device-width, initial-scale=1.0">
    <title>H&B</title>
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
    <header class ="header hd1">
        <div class="hd__hb hb">
            <div class="hb__i"></div>
        </div>
        <div calss="hd_r r">
            <a href="./main.html" class ="r__mi mi">Main Page!</a>
            <a href="./page1.html" class ="r__yg yg">yougyeom Page!</a>
            <a href="./page2.html" class ="r__dg dg">dogi Page!</a>
        </div>
    </header>
    <div class="PRODUCT">
        <a class="title">PRODUCT PAGE</a>
    </div>
    <div class="Screen1">
        <div class="sc1__1">
            <div class="sc1__2">
                <div class="sc1__text">
                    <h1 class="sc1__name">아이소메트릭</h1>
                    <h2 class="sc1__num">123123 
                        
                        
                        
                    123123</h2>
                    <button class="sc1_button">상세보기</button>
                </div>
                <div class="sc1_img">
                    <img src="https://firebasestorage.googleapis.com/v0/b/storage-4leaf.appspot.com/o/HNB%2Fuploads%2Fproduct%2F2021119214341%E1%84%80%E1%85%A5%E1%86%AB%E1%84%86%E1%85%AE%E1%86%AF%2B%E1%84%8C%E1%85%A5%E1%86%AB%E1%84%80%E1%85%A7%E1%86%BC_%E1%84%8C%E1%85%AE%E1%86%BC%E1%84%80%E1%85%A5%E1%84%85%E1%85%B5.jpg?alt=media&token=421b6be7-93ba-41b3-92fe-126fe6d379ac">
                </div>
            </div>
        </div>
    </div>
    <div class="Screen2">
        <div class="sc2__1">
            <div class="sc2__2">
                <div class="sc2__img">
                    <img src="https://firebasestorage.googleapis.com/v0/b/storage-4leaf.appspot.com/o/HNB%2Fuploads%2Fproduct%2F20212161019112021119214341%E1%84%80%E1%85%A5%E1%86%AB%E1%84%86%E1%85%AE%E1%86%AF%2B%E1%84%8C%E1%85%A5%E1%86%AB%E1%84%80%E1%85%A7%E1%86%BC_%E1%84%8C%E1%85%AE%E1%86%BC%E1%84%80%E1%85%A5%E1%84%85%E1%85%B5.jpg?alt=media&token=5d772a9b-2c2f-4049-82b0-238cf0f5ce7a">
                </div>
                <div class="sc2__text">
                    <h1 class="sc2__name">실내투시도</h1>
                    <h2 class="sc2__num">123123 
                        
                        
                        
                    123123</h2>
                    <button class="sc2__button">상세보기</button>
                </div>                
            </div>
        </div>
    </div>
    <div class="Screen3">
        <div class="sc3__1">
            <div class="sc3__2">
                <div class="sc3__text">
                    <h1 class="sc3__name">공간계획</h1>
                    <h2 class="sc3__num">a</h2>
                    <button class="sc3_button">상세보기</button>
                </div>
                <div class="sc3__img">
                    <img src="https://firebasestorage.googleapis.com/v0/b/storage-4leaf.appspot.com/o/HNB%2Fuploads%2Fproduct%2F202122315554920212161019112021119214341%E1%84%80%E1%85%A5%E1%86%AB%E1%84%86%E1%85%AE%E1%86%AF%2B%E1%84%8C%E1%85%A5%E1%86%AB%E1%84%80%E1%85%A7%E1%86%BC_%E1%84%8C%E1%85%AE%E1%86%BC%E1%84%80%E1%85%A5%E1%84%85%E1%85%B5.jpg?alt=media&token=f19bbf99-8b22-4019-bb83-1b591f290b31">
                </div>
            </div>
        </div>
    </div>
    <main class="logo footer">
        <div class="footer__hnb hnb">
            <div class="hnb__img"></div>
        </div>
        <div class="footer__FT FT">
            <div class="FT__FRONT">
                <div class="FORNT__master master">대표 : 이지형</div>
                <div class="FRONT__number number">사업자등록번호 : 209-81-66291</div>
                <div class="FRONT__adress adress">주소 : 울산광역시 중구 동천 1길 40, 세영이노세븐 지식산업센터</div>
                <div class="FRONT__center center">사업센터 B동 234호</div>
            </div>
            <div class="FT__BACK">
                <div class="BACK__phone phone">전화번호 : 1566-5297 </div>
                <div class="BACK__email email">이메일 : ghgh6127@naver.com</div>
                <div class="BACK__copy">Copyright @ H&B By 4LEAF SOFTWARE</div>
            </div>
        </div>
    </main>       
</body>
</html>